<%= render "shared/navbar" %>
<div class="container d-flex justify-content-center mt-5">
  <%= form_for @recognition, remote:true do |f| %>
  Coworker's name:<br/><%= f.select :user, ["Choose a coworker", "Abby Collins", "Michael Doe", "Diana Little", "Frankie Hall", "Lily Hong", "Peter Turner"], selected: "Choose a coworker", class: "form-control" %><br/>
  Value to recognize:<%= f.text_field :value, class: "form-control mb-1" %>
  Additional info:<%= f.text_area :message, class: "form-control" %>
  <div class="d-flex justify-content-between mt-3">
    <%= link_to "Back", users_path, class: "btn btn-secondary" %>
    <%= f.submit "Submit", class: "btn btn-primary" %>
  </div>
  <% end %>
</div>
