<%= render "shared/navbar" %>
<%# notice appears if the user sends a recognotion form %>
    <% if notice %>
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <%= notice %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% end %>
<div class="container mt-5">
  <div class="card text-center p-5">
  <%# recognition %>
    <h1>Would you like to recognize your coworker?</h1>
    <div>
      <%= link_to "Sure", new_recognition_path, class: "btn btn-primary btn-lg mt-4" %> 
    </div>
  </div>
  <%# list of coworkers %>
  <h1 class="mt-5">Coworkers</h1>
  <div class="card-container mb-5">
    <% @users.each do |user| %>
      <div class="card p-3">
        <h5><%= user.name %></h5>
        <p><%= user.title %></p>
        <p>Manager: <%= user.manager %></p>
      </div>
    <% end %>
  </div>
</div>
